<div class="col-md-4">
    <a href="{{url}}" style="text-decoration: none;">
        <div class="card border-0 mb-5">
            {{#if feature_image}}
            {{!-- Ignore this! it's HUGE --}}
            <picture>
                <source srcset="
                {{img_url feature_image size=" xxs" format="avif" }} 30w, {{img_url feature_image size="xs"
                    format="avif" }} 100w, {{img_url feature_image size="s" format="avif" }} 300w, {{img_url
                    feature_image size="m" format="avif" }} 600w, {{img_url feature_image size="l" format="avif" }}
                    1000w, {{img_url feature_image size="xl" format="avif" }} 2000w"
                    sizes="(min-width: 1200px) 1200px, 100vw" type="image/avif">
                <source srcset="
                {{img_url feature_image size=" xxs" format="webp" }} 30w, {{img_url feature_image size="xs"
                    format="webp" }} 100w, {{img_url feature_image size="s" format="webp" }} 300w, {{img_url
                    feature_image size="m" format="webp" }} 600w, {{img_url feature_image size="l" format="webp" }}
                    1000w, {{img_url feature_image size="xl" format="webp" }} 2000w"
                    sizes="(min-width: 1200px) 1200px, 100vw" type="image/webp">
                <img srcset="
                {{img_url feature_image size=" xxs"}} 30w, {{img_url feature_image size="xs" }} 100w, {{img_url
                    feature_image size="s" }} 300w, {{img_url feature_image size="m" }} 600w, {{img_url feature_image
                    size="l" }} 1000w, {{img_url feature_image size="xl" }} 2000w"
                    sizes="(min-width: 1200px) 1200px, 100vw" src="{{img_url feature_image size=" xxs"}}"
                    class="card-img-top" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">
            </picture>
            {{/if}}
            <div class="card-body">
                {{#if featured}}
                <span>{{> "icons/fire"}} Featured</span>
                {{/if}}
                <h5 class="card-title">{{title}}</h5>
                <div class="text-muted">
                    <p class="card-text fw-lighter">{{excerpt}}</p>
                    <footer>
                        {{#if reading_time}}
                        {{reading_time}} -
                        {{/if}}
                        <time datetime="{{date format=" DD-MM-YYYY"}}">{{date}}</time>
                    </footer>
                </div>

            </div>
        </div>
    </a>
</div>