<nav class="navbar navbar-expand-md" style="background-color: rgba(0, 0, 0, 0.4)">
    <div class="container-xxl">
        <a class="navbar-brand" href="/">{{@site.title}} <img src={{@site.logo}} width="auto" height="30"
                alt={{@site.title}}></a>
        {{!-- Footer navbar --}}
        {{#if isSecondary}}
            <div class="navbar-nav mr-auto py-5">
                {{#foreach navigation}}
                <a class="nav-item nav-link {{#if current}}active{{/if}}" href="{{url absolute=" true"}}">{{label}}</a>
                {{/foreach}}
            </div>
        {{else}}
        {{!-- Header navbar --}}
        {{!-- toggle btn mobine nav --}}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
            aria-controls="main-nav" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {{!-- nav links --}}
        <div class="collapse navbar-collapse justify-content-end align-center py-3" id="main-nav">
            <div class="navbar-nav mr-auto">
                {{#foreach navigation}}
                <a class="nav-item nav-link {{#if current}}active{{/if}}" href="{{url absolute=" true"}}">{{label}}</a>
                {{/foreach}}
            </div>
        </div>
        {{/if}}
    </div>
</nav>