{{!< default}}
<style>
    .home-header {
        background-image: url({{@site.cover_image}});
        background-size: cover;
        min-width: 100%;
        background-position: center;
        min-height: 100vh;
    }

    @media (max-width: 670px) {
        header {
            min-height: 80vh;
        }
    }

    .home-text-box {
        min-height: 60vh;
    }
</style>

{{!-- Header Section --}}
<header class="container home-header">
    {{!-- This is the home navbar, but we need to split that in a seperate file --}}
    <nav class="navwrapper transparent">
        <div class="container">
            <a href="" class="brand-logo"><img src="{{@site.logo}}" alt="logo" style="height:50px;padding-top:10px"></a>
            <a href="" class="sidenav-trigger" data-target="mobile-menu">
                <i class="material-icons">menu</i>
            </a>
            <div class="right hide-on-med-and-down">
                {{navigation}}
            </div>
        </div>
        <div class="sidenav grey lighten-2" id="mobile-menu">
            {{navigation}}
        </div>
    </nav>

    <div class="home-text-box valign-wrapper">
        <div class="container center-align grey-text text-lighten-2">

            {{#if @custom.header_title}}
                <h1>{{@custom.header_title}}</h1>
            {{else}}
                <h1>{{@site.title}}</h1>
            {{/if}}

            <br><br>
            {{#if @custom.header_description}}
                <h3>{{@custom.header_description}}</h3>
            {{else}}
                <h3>{{@site.description}}</h3>
            {{/if}}
        </div>
    </div>
</header>

{{!-- Features 1 --}}
<div class="container">
    <h1>test</h1>
</div>

{{!-- Paralax --}}


{{!-- Lessen --}}


{{!-- Waar en Wanneer --}}


{{!-- Paralax 2 --}}


{{!-- Inschrijven Niuwsbrief en CTA --}}


{{!-- Bliog Feed --}}