{{!< default}} 
<main id="main">
    {{!-- hero section --}}
    <section id="header" class="d-flex align-items-start align-items-md-center">
        <picture>
            <source media="(max-width: 300px)" srcset="{{img_url @site.cover_image size='s'}}">
            <source media="(max-width: 600px)" srcset="{{img_url @site.cover_image size='m'}}">
            <source media="(max-width: 1000px)" srcset="{{img_url @site.cover_image size='l'}}">
            <img src="{{img_url @site.cover_image size='xl'}}" alt="{{@site.title}}" class="img-fluid">
        </picture>

        <div class="header-text container-xl">
            <div class="row justify-content-start">
                <div class="col-md-5 text-center text-md-start mb-5">
                    {{#if @custom.nav_header_text}}
                    <h1 class="display-1">{{@custom.nav_header_text}}</h1>
                    {{else}}
                    <h1 class="display-1">{{@site.title}}</h1>
                    {{/if}}
                    {{#if @custom.nav_support_text}}
                    <h2 class="text-muted">{{@custom.nav_support_text}}</h2>
                    {{else}}
                    <h2 class="text-muted">{{@site.description}}</h2>
                    {{/if}}
                </div>
            </div>
        </div>
    </section>

    {{!-- Features 1 --}}
    <section id="features-1">
        <div class="container-xl mb-5">
            <div class="text-center mb-5">
                <h1 class="ghost-color">OVER ONS</h4>
                    <h2 class="my-3">Wij zijn Ichigendo</h2>
                    <p class="text-body-emphasis">Ichigendo is de enige school in zijn soort. <br>
                        In onze Dojo beoefenen we een moderne versie van Ninjutsu.<br>
                        Hier wordt oude krijgskunst-wijsheid gecombineerd met moderne inzichten.</p>
            </div>

            <div class="row">
                {{#get "posts" limit="all" filter="featured:true"}}
                {{#foreach posts}}
                {{>"cards"}}
                {{/foreach}}
                {{/get}}
            </div>
        </div>
    </section>


    {{!-- Paralax 1 --}}
    <section id="parallax_1">
        <div class="container-wide">
            <!-- Container element -->
            {{#if @custom.parallax_image_1}}
            <div class="parallax" style="background-image: url({{@custom.parallax_image_1}});"></div>
            {{else}}
            <h1>Please set a parallax_1 Image in settings!!</h1>
            {{/if}}
        </div>
    </section>

    {{!-- offer cards - lestijden.. - maps image on mobile --}}

    <section id="practical">
        <div class="container my-2">
            <div class="text-center mb-5">
                <h1 class="ghost-color">Meedoen Met Ichigendo</h4>
                    <div id="offer">
                        {{>offer}}
                    </div>
                    <div class="mt-5">
                        {{>tabs}}
                    </div>
            </div>
        </div>
    </section>

    {{!-- Paralax 2 --}}
    <section id="parallax_2">
        <div class="container-wide">
            <!-- Container element -->
            {{#if @custom.parallax_image_2}}
            <div class="parallax" style="background-image: url({{@custom.parallax_image_2}});"></div>
            {{else}}
            <h1>Please set a parallax_2 Image in settings!!</h1>
            {{/if}}
        </div>
    </section>

    {{!-- Andere kijk op maertial arts & Veel gestelde vragen en meedoe knop daarnaast --}}
    <section id="faq">
        {{>faq}}
    </section>


    {{!-- Blog: read more make partial for re-use --}}
<section id="read_more">
        <div class="container-xl mb-5">
            <div class="text-center mb-5">
                <h1 class="ghost-color">Blog</h4>
                <h2 class="my-3">Lees meer...</h2>
                <p>Wil je meer lezen over Ichigendo of Ninjutsu,<br> kijk dan even hier, of ga direct naar onze <a href="#/blog" class="lead" style="color: var(--ghost-accent-color);">blog</a></p>
            </div>
            <div class="row">
                {{#get "posts" limit="all" filter="featured:false" order="published_at desc"}}
                {{#foreach posts}}
                {{>"cards"}}
                {{/foreach}}
                {{/get}}
            </div>
        </div>
    </section>

    {{!-- Footer --}}
    {{!-- Make this in default hbs --}}

</main>