{{!< default}} 
{{#post}}
<main class="or-post container {{post_class}}">
  <article id="article">
    <header class="pt-4">
      {{!-- Header and meta --}}
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-sm-8 my-2">
            {{#if featured}}
            <span class="post-card-featured">{{> "icons/fire"}} Featured</span>
            {{/if}}
          </div>
          <div class="col-sm-8  my-2">
            <h1 class="article-title">{{title}}</h1>
          </div>
          <div class="col-sm-8">
            <p class="lead text-muted">{{excerpt}}</p>
            {{#if reading_time}}
            <p>{{reading_time}} | date: <time datetime="{{date format=" DD-MM-YYYY"}}">{{date}}</time> {{#match
              primary_tag}}| categorie: <a href="{{primary_tag.url}}"
                style="--color: {{primary_tag.accent_color}}"><strong>{{primary_tag.name}}</strong></a>{{/match}}</p>
            {{/if}}
          </div>
        </div>
      </div>

      {{!-- Image display --}}
      <figure class="post-figure">
        <img srcset="
            {{img_url feature_image size='xxs'}} 30w,
            {{img_url feature_image size='xs'}} 100w,
            {{img_url feature_image size='s'}} 300w,
            {{img_url feature_image size='m'}} 600w,
            {{img_url feature_image size='l'}} 1000w,
            {{img_url feature_image size='xl'}} 2000w" sizes="(min-width: 1400px) 1400px, 92vw"
          src="{{img_url feature_image size='xl'}}" class="post-image"
          alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" />
        {{#if feature_image_caption}}
        <figcaption class="lead text-muted">{{feature_image_caption}}</figcaption>
        {{/if}}
      </figure>
    </header>

    {{!-- content --}}

    <section class="post-content pb-5">
      {{content}}
    </section>
  </article>
</main>

  {{!-- This query gets the latest 3 posts on the site, but adds a filter to
  exclude the post we're currently on from being included. --}}
  <div class="container my-5">
      <hr>
      <div class="text-center mb-5">
          <h4 class="my-3 ghost-color">Lees meer...</h2>
          <p>Lees hier meer over Ichigendo en Ninjutsu,<br> of kijk voor meer op onze <a href="/blog" class="lead" style="color: var(--ghost-accent-color);">blog</a></p>
      </div>
      <div>
        {{#get "posts" filter="id:-{{id}}" limit="3"}}  
          {{>"cardsgrid"}}
      {{/get}}
      </div>
  </div>
{{/post}}